<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:burlywood;font-size:30px">
        <h1>---Header---</h1>
    </div>
    <div style="display:flex">
        <div style="background-color:burlywood;font-size:20px;width:20%">
            <h1>Menu</h1>
            <div style="border:5px red solid;background-color:greenyellow;">
                @RenderSection("MenuSection",false)   <!--optional section-->
            </div>
        </div>
        <div style="border:10px red solid;background-color:greenyellow;width:75%">
            @RenderBody()
        </div>
    </div>
    <div style="background-color:burlywood;font-size:30px">
        <h1>Footer</h1>
        <div style="border:5px red solid;background-color:greenyellow;">
            @RenderSection("FooterSection")   <!--Required-->
        </div>
    </div>
   @RenderSection("Scripts",false)
</body>
</html>
